<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="3.2.0" targetFramework="net462" />
  <package id="FakeXrmEasy.2016" version="1.39.1" targetFramework="net462" />
  <package id="FakeXrmEasy.EdgeProxy.v2016" version="0.0.2" targetFramework="net462" />
  <package id="Microsoft.Crm.Sdk.Proxy.2011" version="5.0.18" targetFramework="net462" />
  <package id="Microsoft.CrmSdk" version="4.0.13" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.12" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.12" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.12" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.2.16" targetFramework="net462" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.0.5" targetFramework="net462" />
  <package id="Microsoft.Xrm.Client.2011" version="5.0.18" targetFramework="net462" />
  <package id="Microsoft.Xrm.Sdk.2011" version="5.0.18" targetFramework="net462" />
  <package id="Microsoft.Xrm.Sdk.Workflow.2011" version="5.0.18" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="NUnit" version="3.12.0" targetFramework="net462" />
  <package id="xunit.runner.visualstudio" version="2.4.1" targetFramework="net462" developmentDependency="true" />
</packages>